[paths]
source = ciscoconfparse2/

[run]
branch = true
source =
      ciscoconfparse2/
      tests/

[report]
show_missing = true
precision = 2
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:

omit =
    ciscoconfparse2/dev_tools/*
