---
# Ported from ciscoconfparse/.pre-commit-config.yaml...
#
# pre-commit hook catalog -> https://pre-commit.com/hooks.html
# Manually run all pre-commit checks with:
#    `pre-commit autoupdate`
#    `pre-commit run --all-files`
#
# Manually ignore pre-commit checks with --no-verify...
#    `git commit --no-verify <filepath> -m "Some message here"
repos:

  # auto-format code for the --pyXXXXXXX argument.
  - repo: "https://github.com/asottile/pyupgrade"
    rev: "v3.20.0"
    hooks:
      - id: "pyupgrade"
        name: "Auto-standardize python syntax"
        args:
          - "--py310-plus"
        language: "python"
        verbose: true

  - repo: "https://github.com/psf/black"
    rev: "25.1.0"
    hooks:
      - id: "black"
        name: "Run black on ciscoconfparse2"
        entry: "black ciscoconfparse2/"
        verbose: true
##
#  - repo: https://github.com/asottile/dead
#    rev: v1.4.0
#    hooks:
#    -   id: dead
  - repo: "https://github.com/pre-commit/pygrep-hooks"
    rev: "v1.10.0"
    hooks:
      - id: "python-no-eval"
      - id: "rst-backticks"
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: "v6.0.0"
    hooks:
      - id: "check-merge-conflict"  # Prevent commit of merge-conflict markers
      - id: "debug-statements"
      - id: "check-yaml"
      - id: "check-json"
      - id: "check-symlinks"  # Look for isolated symlinks
      - id: "end-of-file-fixer"
      - id: "requirements-txt-fixer"
      - id: "fix-byte-order-marker"
      - id: "trailing-whitespace"
      - id: "end-of-file-fixer"
      - id: "no-commit-to-branch" # By default, protect 'master' and 'main'
        args:
          - "--branch"
          - "master"
          - "--branch"
          - "main"
