---
on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
      - '[0-9]+.[0-9]+.[0-9]+.post[0-9]+'
      - '[0-9]+.[0-9]+.[0-9]+[a-b][0-9]+'
      - '[0-9]+.[0-9]+.[0-9]+rc[0-9]+'
    branches:
      - 'main'

permissions:
    # All other scopes not listed are set to 'none' by default
  contents: "read"
  issues: "read"    # Grants read permission for issues

defaults:
  run:
    shell: 'bash'
jobs:
  prepare-python-artifacts:
    name: 'Job to build wheel and source distribution files'
    runs-on: 'ubuntu-latest'
    environment: 'release'
    steps:
      - name: 'Checkout code'
        uses: "actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8" # v6.0.1
        with:
          fetch-depth: 0
      - name: 'Install build frontend'
        run: 'pip install hatch'
      - name: 'Create packages in dist/ with hatch'
        run: 'hatch build'
      - name: 'Upload package artifacts to GitHub'
        uses: 'actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f'  # v5.0.0
        with:
          name: 'python-artifacts'
          path: 'dist/*'
          if-no-files-found: 'error'
  pypi-publish:
    name: 'Upload release to PyPI'
    if: 'github.event_name == ''push'' && startsWith(github.event.ref, ''refs/tags'')'
    needs:
      - 'prepare-python-artifacts'
    runs-on: 'ubuntu-latest'
    permissions:
      contents: 'write'
      id-token: 'write'
    environment:
      name: 'pypi'
      url: 'https://pypi.org/p/ciscoconfparse2'
    steps:
      - name: 'Download artifacts from python-artifacts job'
        uses: 'actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131'  # v7.0.0
        with:
          name: 'python-artifacts'
          path: 'dist'
      - name: 'Upload packages to PYPI'
        uses: 'pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e'  # v1.13.0
