---
name: 'Publish GitHub Release'
on:
  push:
    tags:
      - '*.*.*'

permissions:
    # All other scopes not listed are set to 'none' by default
  contents: "read"
  issues: "read"    # Grants read permission for issues

jobs:
  build-release:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd" # v6.0.2
      - uses: "astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867"  # v7.1.6
        with:
          enable-cache: true
          prune-cache: false
      - uses: "actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405"  # v6.2.0
        with:
          python-version-file: "pyproject.toml"
      - run: "echo \"SOURCE_DATE_EPOCH=$(git log -1 --pretty=%ct)\" >> $GITHUB_ENV"
      - run: "uv build"
      - uses: "actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f"  # v6.0.0
        with:
          path: "./dist"
  create-release:
    needs:
      - "build-release"
    runs-on: "ubuntu-latest"
    permissions:
      contents: "write"
    steps:
      - uses: "actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131"  # v7.0.0
        with:
          path: "artifact"  # Create an artifact/ directory
      - name: "create release"
        run: "gh release create --generate-notes --repo ${{ github.repository }} ${{ github.ref_name }} artifact/*"
        env:
          GH_TOKEN: "${{ github.token }}"
