---
name: 'Publish GitHub Release'
on:
  push:
    tags:
      - '*.*.*'
jobs:
  build-release:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8"  # v6.0.0
      - uses: "astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3"  # v7.0.0
        with:
          enable-cache: true
          prune-cache: false
      - uses: "actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c"  # v6.0.0
        with:
          python-version-file: "pyproject.toml"
      - run: "echo \"SOURCE_DATE_EPOCH=$(git log -1 --pretty=%ct)\" >> $GITHUB_ENV"
      - run: "uv build"
      - uses: "actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4"  # v5.0.0
        with:
          path: "./dist"
  create-release:
    needs:
      - "build-release"
    runs-on: "ubuntu-latest"
    permissions:
      contents: "write"
    steps:
      - uses: "actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53"  # v6.0.0
        with:
          path: "artifact"  # Create an artifact/ directory
      - name: "create release"
        run: "gh release create --generate-notes --repo ${{ github.repository }} ${{ github.ref_name }} artifact/*"
        env:
          GH_TOKEN: "${{ github.token }}"
