---
name: 'Lock threads'
# Lock closed issues that have not received any further activity for
# three weeks. This does not close open issues, only humans may do that.
# We find that it is easier to respond to new issues with fresh examples
# rather than continuing discussions on old issues.
on:
  schedule:
    - cron: '0 0 * * *'
permissions:
  issues: 'write'
  pull-requests: 'write'
concurrency:
  group: 'lock'
jobs:
  lock:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: 'dessant/lock-threads@7266a7ce5c1df01b1c6db85bf8cd86c737dadbe7' # v6.0
        with:
          exclude-any-issue-labels: 'accepted, documentation, work-in-progress, help-wanted'
          issue-inactive-days: 21
          pr-inactive-days: 21
