---
name: 'SonarCloud'
on:
  push:
    branches:
      - 'main'
  pull_request:
    types:
      - 'opened'
      - 'synchronize'
      - 'reopened'

permissions:
    # All other scopes not listed are set to 'none' by default
  contents: "read"
  issues: "read"    # Grants read permission for issues

jobs:
  sonarqube:
    name: 'SonarQube'
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.0
        with:
          fetch-depth: 0
      - name: 'Setup Python'
        uses: 'actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548' # v6.1.0
        with:
          python-version: '3.12'
      - name: 'Install ciscoconfparse2'
        run: 'pip install .'
      - name: 'Install coverage'
        run: 'pip install coverage==5.0.0'
      - name: 'Install pytest'
        run: 'pip install pytest'
      - name: 'Run coverage'
        working-directory: "tests"
        run: 'coverage run -m pytest'
      - name: 'Generate xml'
        working-directory: "tests"
        run: 'coverage xml -o coverage.xml'
      - name: 'Relocate the coverage report'
        run: 'mv tests/coverage.xml coverage.xml'
      - name: 'SonarQube Scan'
        uses: 'SonarSource/sonarqube-scan-action@master'
        env:
          SONAR_TOKEN: '${{ secrets.SONAR_TOKEN }}'
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
